<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon.png' %}">
    <title>高校门户网站综合检索系统</title>
    <!-- This page CSS -->
    <!-- chartist CSS -->
    <link href="{% static 'SearchPage/assets/node_modules/morrisjs/morris.css' %}" rel="stylesheet">
    <!--c3 plugins CSS -->
    <link href="{% static 'SearchPage/assets/node_modules/c3-master/c3.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'SearchPage/html/dist/css/style.css' %}" rel="stylesheet">
    <!-- Dashboard 1 Page CSS -->
    <link href="{% static 'SearchPage/html/dist/css/pages/dashboard1.css' %}" rel="stylesheet">
    <link href="{% static 'SearchPage/html/dist/css/bootstrap.css' %}"/>
    <!-- the css from other page -->
    <link rel="stylesheet" type="text/css" href="{% static 'SearchPage/html/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'SearchPage/html/dist/css/theme.css' %}">
    <!-- end css -->

    <!--=====================================================================================================-->
    <!-- 外联CSS文件 -->
    <!--<link href="../../assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="{% static 'assets/lib/animate.css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/lib/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/lib/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/lib/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'assets/lib/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/lib/aos/aos.css' %}" rel="stylesheet">

    <!-- 主CSS文件 -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <!--=====================================================================================================-->
</head>
<!--导航栏相关样式-->
<style>
    #sidebarnav li {
        margin-top: 50px;
    }

    .left-sidebar {
        margin-top: 70px;
    }

    .scrolled-sidebar {
        margin-top: 60px;
        height: 100%;
    }

    .explore {
        font-family: "Open Sans", sans-serif;
        margin-left: -90px;
    }

    .nav-menu {
        margin-right: -90px;
    }

    .nav-text-box {
        padding-top: 20px !important;
    }
</style>
<!--end 导航栏样式-->

<!--header footer color-->
<style>
    #header {
        background-color: #2B2F3A;
    }

    .footer-newsletter, .footer-top {
        background-color: #2B2F3A !important;
    }

    #footer {
        background-color: #1E2128 !important;
    }
</style>
<!--end header footer color-->

<!--去除头像旁边按钮-->
<style>
    .login_image > a:after {
        content: none !important;
    }
</style>
<!-- end 去除头像旁边按钮-->

<body class="skin-default-dark fixed-layout">
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container">
        <div class="logo float-left">
            <h1 class="text-light"><a href="#"><span class="explore">Explore</span></a></h1>
            <!--可以用图片代替Explore文字-->
            <!--<a href="index.html"><images src="assets/images/background.jpg" alt="" class="images-fluid"></a>-->
        </div>
        <nav class="nav-menu float-right d-none d-lg-block">
            <ul>
                <li><a href="{% url 'index' %}">主页 <i class="la la-angle-down"></i></a></li>
                <li><a href="{% url 'feature' %}#feature">关于网站</a></li>
                {% if not user.username %}
                    <li><a href="{% url 'userLogin' %}">登录</a></li>
                    <li><a href="{% url 'userRegister' %}">注册</a></li>
                {% endif %}
                <li class="active"><a href="{% url 'search_index' %}">词库搜索</a></li>
                <li><a href="{% url 'center_index' %}">个人中心</a></li>
                <li class="drop-down"><a href="">更多功能</a>
                    <ul>
                        <li class="drop-down"><a href="#">个人中心</a>
                            <ul>
                                <li><a href="{% url 'center_index' %}">我的资料</a></li>
                                <li><a href="{% url 'center_dynamic' 1 %}">我的足迹</a></li>
                                <li><a href="{% url 'center_overview' %}">我的用户画像</a></li>
                                <li><a href="{% url 'center_help' %}">个人中心帮助</a></li>
                                <li><a href="{% url 'center_faq' %}">FAQ</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="#">词库信息管理</a>
                            <ul>
                                <li><a href="{% url 'search_manage' 1 %}">词库管理</a></li>
                                <li><a href="{% url 'search_schoolList' %}">学校URL列表</a></li>
                                <li><a href="{% url 'search_recommend' %}">分类检索及相关推荐</a></li>
                                <li><a href="{% url 'search_help' %}">使用帮助</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="{% url 'contact' %}">联系我们</a></li>
                {% if user.username %}

                    <li class="login_image drop-down">
                        {% if request.user.photo %}
                            <a href="{% url 'center_index' %}"><img
                                    src="{{ request.user.photo.url }}"
                                    style="width: 40px;height: 40px;border-radius: 50%;margin-top: -10px;"></a>
                        {% else %}
                            <a href="{% url 'center_index' %}"><img
                                    src="{% static 'assets/images/cartoon.jpeg' %}"
                                    style="width: 40px;height: 40px;border-radius: 50%;margin-top: -10px;"></a>
                        {% endif %}

                        <ul class="login_image_function" style="visibility: hidden">
                            <li><a href="{% url 'center_index' %}">个人中心</a></li>
                            <li><a href="{% url 'search_index' %}">词库搜索</a></li>
                            <li><a href="{% url 'logout' %}">退出</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header>
<!-- End Header -->
<main id="main">
</main>


<div id="main-wrapper">
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <aside class="left-sidebar" id="left-sidebar">
        <div class="d-flex no-block nav-text-box align-items-center">
            <span><img src="{% static 'assets/images/favicon.png' %}" alt="elegant admin template"></span>
            <a class="waves-effect waves-dark ml-auto hidden-sm-down" href="javascript:void(0)"><i class="ti-menu"></i></a>
            <a class="nav-toggler waves-effect waves-dark ml-auto hidden-sm-up" href="javascript:void(0)"><i
                    class="ti-menu ti-close"></i></a>
        </div>
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li><a class="waves-effect waves-dark" href="{% url 'search_index' %}" aria-expanded="false"><i
                            class="fa fa-search"></i><span class="hide-menu">词库搜索</span></a></li>
                    <li><a class="waves-effect waves-dark" href="{% url 'search_manage' 1 %}" aria-expanded="false"><i
                            class="fa fa-user-circle-o"></i><span class="hide-menu">搜索词库管理</span></a></li>
                    <li><a class="waves-effect waves-dark" href="{% url 'search_schoolList' %}" aria-expanded="false"><i
                            class="fa fa-table"></i><span class="hide-menu"></span>学校URL列表</a></li>
                    <li><a class="waves-effect waves-dark" href="{% url 'search_recommend' %}" aria-expanded="false"><i
                            class="fa fa-star"></i><span class="hide-menu"></span>分类检索及相关推荐</a></li>
                    <li><a class="waves-effect waves-dark" href="{% url 'search_help' %}" aria-expanded="false"><i
                            class="fa fa-question-circle"></i><span class="hide-menu"></span>使用帮助</a></li>
                    <!-- <i class="fa fa-mortar-board"></i> -->
                    <!-- <div class="text-center m-t-30">
                        <a href="#" class="btn waves-effect waves-light btn-success hidden-md-down"> Upgrade to Pro</a>
                    </div> -->
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->


    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">

        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid" style="margin-top: -80px;">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor">使用帮助</h4>
                </div>
                <div class="col-md-7 align-self-center text-right">
                    <div class="d-flex justify-content-end align-items-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">词库信息管理</a></li>
                            <li class="breadcrumb-item active">使用帮助</li>
                        </ol>
                        <a class="btn btn-success d-none d-lg-block m-l-15" href="#"> 回到首页</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="content">
                                <!--<div class="header">-->

                                <!--<h1 class="page-title">疑难解答</h1>-->
                                <!--<ul class="breadcrumb">-->
                                <!--<li><a href="index.html">个人中心</a> </li>-->
                                <!--<li class="active">帮助</li>-->
                                <!--</ul>-->

                                <!--</div>-->
                                <div class="main-content">

                                    <div class="faq-content">
                                        <div class="row">
                                            <div class="col-sm-9 col-md-9">
                                                <div class="search-well">
                                                    <form class="form-inline" style="margin-top:0px;">
                                                        <input class="input-xlarge form-control"
                                                               placeholder="Search Help..." id="appendedInputButton"
                                                               type="text">
                                                        <button class="btn btn-default" type="button"
                                                                style="height: 38px; margin-left: 5px"><i
                                                                class="fa fa-search"></i> Go
                                                        </button>
                                                    </form>
                                                </div>
                                                <style>
                                                    .hot-topic li {
                                                        list-style: none;
                                                        padding-top: 10px;
                                                    }

                                                    .hot-topic li a {
                                                        color: #4fa6d5;
                                                    }

                                                    .hot-topic i {
                                                        color: #4fa6d5;
                                                    }
                                                </style>
                                                <div class="panel panel-default hot-topic" id="remenhuati">
                                                    <p class="panel-heading">热门话题</p>
                                                    <div class="panel-body">
                                                        <ol>
                                                            <li><i class="fa fa-check-square-o" style="color: black"></i><a
                                                                    href="#yinanjieda" style="color: black; text-decoration: underline">&nbsp;&nbsp;&nbsp;怎么创建一个属于自己的个性词库？</a>
                                                            </li>
                                                            <li><i class="fa fa-check-square-o" style="color: black"></i><a
                                                                    href="#yinanjieda" style="color: black; text-decoration: underline">&nbsp;&nbsp;&nbsp;如何搜索自己需要的信息，怎么在搜索的过程中限定检索范围呢？</a>
                                                            </li>
                                                            <li><i class="fa fa-check-square-o" style="color: black"></i><a
                                                                    href="#yinanjieda" style="color: black; text-decoration: underline">&nbsp;&nbsp;&nbsp;“词库搜索”和“分类检索”的区别是什么，使用过程中该怎么选择呢？</a>
                                                            </li>
                                                            <li><i class="fa fa-check-square-o" style="color: black"></i><a
                                                                    href="#yinanjieda" style="color: black; text-decoration: underline">&nbsp;&nbsp;&nbsp;为什么有些搜索结果中点击页面对应的域名会发生打不开的情况？该如何解决这个问题呢？</a>
                                                            </li>
                                                            <li><i class="fa fa-check-square-o" style="color: black"></i><a
                                                                    href="#yinanjieda" style="color: black; text-decoration: underline">&nbsp;&nbsp;&nbsp;如何一次性搜索多个关键词，其他高级检索的方式是什么？</a>
                                                            </li>
                                                        </ol>
                                                    </div>
                                                </div>

                                                <style>
                                                    .tags-category p a {
                                                        background-color: #5bc0de;
                                                        color: white;
                                                        /*border-radius: 10px;*/
                                                    }

                                                    .tags-category p a:hover {
                                                        background-color: #5bc0de;
                                                        color: white;
                                                        /*border-radius: 10px;*/
                                                    }

                                                    .tags-category p a:link {
                                                        background-color: #5bc0de;
                                                        color: white;
                                                        /*border-radius: 10px;*/
                                                    }
                                                </style>
                                                <div class="panel panel-default tags-category" id="biaoqianhefenlei">
                                                    <p class="panel-heading">标签和分类</p>
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="pull-left unstyled col-sm-4 col-md-2"
                                                                 style="margin-left: 90px">
                                                                <p><a href="javascript:;" class="btn btn-default"
                                                                      style="width: 115px; background-color: #414959">搜索方式</a></p>
                                                                <p><a href="javascript:;" class="btn btn-default"
                                                                      style="width: 115px; background-color: #414959">高级搜索</a></p>
                                                                <p><a href="javascript:;" class="btn btn-default"
                                                                      style="width: 115px; background-color: #414959">页面打不开</a></p>
                                                            </div>
                                                            <div class="pull-left unstyled col-sm-4 col-md-2">
                                                                <p><a href="javascript:;" class="btn btn-default"
                                                                      style="width: 115px; background-color: #414959">词库</a></p>
                                                                <p><a href="javascript:;" class="btn btn-default"
                                                                      style="width: 115px; background-color: #414959">分类检索</a></p>
                                                                <p><a href="javascript:;" class="btn btn-default"
                                                                      style="width: 115px; background-color: #414959">搜索范围</a></p>
                                                            </div>
                                                            <div class="pull-left unstyled col-sm-4 col-md-2">
                                                                <p><a href="javascript:;" class="btn btn-default"
                                                                      style="width: 115px; background-color: #414959">响应慢</a></p>
                                                                <p><a href="javascript:;" class="btn btn-default"
                                                                      style="width: 115px; background-color: #414959">添加和删除</a></p>
                                                                <p><a href="javascript:;" class="btn btn-default"
                                                                      style="width: 115px; background-color: #414959">管理</a></p>
                                                            </div>
                                                            <div class="pull-left unstyled col-sm-4 col-md-2">
                                                                <p><a href="javascript:;" class="btn btn-default"
                                                                      style="width: 115px; background-color: #414959">添加失败</a></p>
                                                                <p><a href="javascript:;" class="btn btn-default"
                                                                      style="width: 115px; background-color: #414959">历史记录</a></p>
                                                                <p><a href="javascript:;" class="btn btn-default"
                                                                      style="width: 115px; background-color: #414959">隐私</a></p>
                                                            </div>
                                                            <div class="pull-left unstyled col-sm-4 col-md-2">
                                                                <p><a href="javascript:;" class="btn btn-default"
                                                                      style="width: 115px; background-color: #414959">删除历史</a></p>
                                                                <p><a href="javascript:;" class="btn btn-default"
                                                                      style="width: 115px; background-color: #414959">默认词库</a></p>
                                                                <!--<p><a href="#" class="btn btn-default" style="width: 115px;">管理</a></p>-->
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>

                                                <div class="panel panel-default" id="yinanjieda">
                                                    <p class="panel-heading">疑难解答</p>
                                                    <div class="panel-body">
                                                        <h3>怎么创建一个属于自己的个性词库？</h3>
                                                        <p><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;&nbsp;首页网站会默认给出一些高校的词库，
                                                            用户在不用等待建立自己的词库便能直接使用，如果您想建立自己的词库，可以在“学校URL列表”选项卡中添加，
                                                            或者在“搜索词库管理”选项卡中编辑和删除。
                                                        </p>
                                                        <hr>
                                                        <h3>如何搜索自己需要的信息，怎么在搜索的过程中限定检索范围呢？</h3>
                                                        <p><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;&nbsp;在搜索的页面中，无论是简单的搜索还是分类检索，
                                                            网站都在网站的相应页面设计了选择学校的功能，要想限定检索范围，在相应的地方点击你想选择的学校，勾选成功后即可。
                                                            再次单击该学校即可取消选择。
                                                        </p>
                                                        <hr>
                                                        <h3>“词库搜索”和“分类检索”的区别是什么，使用过程中该怎么选择呢？</h3>
                                                        <p><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;&nbsp;词库搜索是简单的搜索，侧重于单个或多个关键词进行搜索，并将结果显示，而分类检索侧重的是搜索的类别，
                                                            两者的区别在于分类检索的类别一般包含多个关键词，例如“学习”列表，在选择了该类别进行检索时，
                                                            网站会呈现所有和学习有关的信息，而不是用“学习”该关键词进行搜索。
                                                        </p>
                                                        <hr>
                                                        <h3>为什么有些搜索结果中点击页面对应的域名会发生打不开的情况？该如何解决这个问题呢？</h3>
                                                        <p><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;&nbsp;学校的门户网站属于互联网资源，
                                                            信息会随时变动，因此在建立词库所对应的URL，可能过一段时间域名就会改变，因此之前的网页也就打不开了，
                                                            解决这个问题，只需在“搜索词库管理”中对对应的词库进行更新即可。当然我们也会定时更新，以保证用户的体验。
                                                        </p>
                                                        <hr>
                                                        <h3>如何一次性搜索多个关键词，其他高级检索的方式是什么？</h3>
                                                        <p><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;&nbsp;一次性搜索多个关键词，可以用空格进行分隔，与此同时，
                                                            也效仿了商业搜索引擎的高级搜索，可以使用“+”，“-”等符号进行高级搜索，使用方法与之前的操作习惯相同。</p>
                                                        <hr>


                                                    </div>
                                                </div>

                                                <div class="panel panel-default" id="kaiqisousuozhilv">
                                                    <p class="panel-heading">开启搜索之旅</p>
                                                    <div class="panel-body">
                                                        <p>在了解了搜索相关的使用说明后，是不是知道如何正确使用网站来检索自己想要的信息了呢，赶紧点击下方的按钮试试吧！</p>
                                                        <a href="{% url 'search_index' %}" class="btn btn-primary">立即前往</a>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                <div class="toc">
                                                    <h3><strong>目录</strong></h3>
                                                    <ol>
                                                        <li><a href="#remenhuati" style="color: black; text-decoration: underline">热门话题</a></li>
                                                        <li><a href="#biaoqianhefenlei" style="color: black; text-decoration: underline">标签和分类</a></li>
                                                        <li><a href="#yinanjieda" style="color: black; text-decoration: underline">疑难解答</a></li>
                                                        <li><a href="#kaiqisousuozhilv" style="color: black; text-decoration: underline">开启搜索之旅</a></li>
                                                        <!--<li><a href="#">Your Account</a></li>-->
                                                    </ol>
                                                </div>
                                                <div class="toc">
                                                    <hr>
                                                    <h3><strong>联系我们</strong></h3>
                                                    <h3 style="font-size: 12px;">固定电话</h3>
                                                    <p style="font-size: 12px;">+1-123-333-4321</p>
                                                    <hr>
                                                    <h3><strong>邮箱</strong></h3>
                                                    <p style="font-size: 12px;">zhangheng_tust@126.com</p>
                                                    <hr>
                                                    <h3><strong>地址</strong></h3>
                                                    <address style="font-size: 12px;">
                                                        天津市<br>
                                                        滨海新区<br>
                                                        第十三大街29号 天津科技大学
                                                    </address>
                                                    <div>
                                                        <button class="btn btn-default"><i class="fa fa-facebook"></i>
                                                        </button>
                                                        <button class="btn btn-default"><i class="fa fa-twitter"></i>
                                                        </button>
                                                        <button class="btn btn-default"><i class="fa fa-linkedin"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                        <!-- end card-body -->
                    </div>
                    <!-- end card -->

                </div>
                <!-- end col-12 -->

            </div>
            <!-- end row -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->

    <!--footer-->
    <footer class="footer" style="text-align: right;"> © 2020 <a href="javascript:;">高校门户网站检索系统</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </footer>
    <!-- End footer -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="{% static 'SearchPage/assets/node_modules/jquery/jquery-3.2.1.min.js' %}"></script>
<!-- Bootstrap popper Core JavaScript -->
<script src="{% static 'SearchPage/assets/node_modules/popper/popper.min.js' %}"></script>
<script src="{% static 'SearchPage/assets/node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="{% static 'SearchPage/html/dist/js/perfect-scrollbar.jquery.min.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'SearchPage/html/dist/js/waves.js' %}"></script>
<!--Menu sidebar -->
<script src="{% static 'SearchPage/html/dist/js/sidebarmenu.js' %}"></script>
<!--Custom JavaScript -->
<script src="{% static 'SearchPage/html/dist/js/custom.min.js' %}"></script>


<!--the page scroll event-->
<script>
    $(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('#header').addClass('header-scrolled');
                $("#left-sidebar").addClass('scrolled-sidebar');

            } else {
                $('#header').removeClass('header-scrolled');
                $("#left-sidebar").removeClass('scrolled-sidebar');
            }
        });

        if ($(window).scrollTop() > 100) {
            $('#header').addClass('header-scrolled');
            $("#left-sidebar").addClass('scrolled-sidebar');
        }
    })
</script>
<!--end the page scroll event-->
<script>
    $(function () {
        $('.login_image').mouseenter(function () {
            $('.login_image_function').css('visibility', 'visible')
        })
        $('.login_image').mouseleave(function () {
            $('.login_image_function').css('visibility', 'hidden')
        })
    })
</script>
</body>

</html>